html {
    height: 100%;
}

body {
    position: relative;
    background-color: black;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
    margin: 6vw;
}

footer {
    /*display: table-cell;*/
    justify-content: flex-end;
    flex-shrink: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /*padding: 1rem;*/
    vertical-align: bottom;
}

.title-image {
    position: center;
    max-width: 100%;
    height: auto;
}

.div-sub-title {
    margin-top: 4vw;
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: row;
    flex-wrap: wrap;
}

.link-style {
    text-decoration: none;
    color: white;
    font-size: 4vw;
    text-shadow: 0 0 1vw red;
}

.footer-link-style {
    color: lightgray;
    font-size: 3vw;
    text-decoration: none;
}

.border-divider-none, .border-divider-left {
    width: 100%;
    margin-bottom: 2vw;
}


@media only screen and (min-width: 768px) {

    body {
        margin: 50px;
    }

    .border-divider-none, .border-divider-left {
        width: auto;
    }

    .border-divider-left {
        border-left: thin solid white;
        margin-left: 10px;
        padding-left: 10px;
    }

    .link-style {
        font-size: 20px;
        text-shadow: 0 0 10px firebrick;
    }

    .footer-link-style {
        font-size: 15px;
    }

    .div-sub-title {
        width: auto;
        margin-top: 25px;
    }

}
